OPENROUTER_API_KEY=sk-openrouterapikey
SERVICE_NAME=s3
ENDPOINT_URL=https://ranchomcharacters.r2.cloudflarestorage.com
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
REGION_NAME=auto
BUCKET_NAME=buckername
OPENAI_AGENTS_DISABLE_TRACING=1
LOGFIRE_TOKEN=